*.A linguist-language=Assembly
*.ASM linguist-language=Assembly
*.C linguist-language=COBOL
*.CBL linguist-language=COBOL
*.JCL linguist-language=JCL
*.PROC linguist-language=JCL
*.R linguist-language=RPG
*.SBF linguist-language=Assembly
